/* @media stuff */

/* ids */
#menu {
  /* background-color: red; */
  text-align: center;
  padding: 40px 20px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;


}

#about-us {
  /* background-color: blue; */
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;

  /* padding: 7% 15%; */
}

#contact-us {
  background-color: yellow;
  /* padding: 7% 15%; */
}

#footer {
  background-color: green;
  /* padding: 3% 15%; */
}


/* classes */
.img-boba {
  height: 150px;
  width: 180px;
  padding: 10px 10px;

}
.navbar {
  display: inline;
  padding: 0 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.navbar:hover{
  text-decoration: underline;

}
.navbar-container {
  margin-bottom: 2%;
  margin: 30px 10px 30px;
  text-align: center;
}

header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
  border-bottom: solid;


}
.boba-header {
  text-align: center;
  margin-top: 3%;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}
.team-header{
  display: block;
  text-align: center;
  margin-top: 30px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}
.team-header p {
  text-transform: none;
  margin-bottom: 7%;
}
.team-header hr{
  border-style: dotted;
  border-spacing: 6px;
  border-bottom: none;
  border-width: 4%;

}
.team img {
  border: 3px solid black;
  padding: 5px;
  margin: 15px;
  width: 200px;
  height: 300px;

}
.team p {
  color: black;
  text-align: left;
  /* padding-bottom: 300px; */
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
.team-text {
  padding-bottom: 180px
}
.menu-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
.menu-item {

}
@media only screen and (max-width: 725px)
{
  .menu-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

}
@media only screen and (max-width: 540px)
{
  .menu-container{
    display: grid;
    grid-template-columns: auto auto auto;
  }

}
@media only screen and (max-width: 420px)
{

  .menu-container{
    display: grid;
    grid-template-columns: auto auto;
  }

}
@media only screen and (max-width: 200px)
{
  .menu-container{
    display: grid;
    grid-template-columns: auto;
  }

}
/* .menu-item {
  width: 20%;
  height: 2em;
  border: none;
  text-align: center;
} */

.menu-item td{
  width: 20%;
  height: 2em;
  border: none;
  text-align: center;
}
.menu-item img{
  width: 15vw;
  height: 12vw;
  transition: transform .2s;
}
.menu-item a{
  color: black;
  text-decoration: none;

}
.menu-item:hover{
  /* background-color: orange; */
  text-decoration: none;
  transform: scale(1.1);

}

.prod-view{
  float: left;
  padding-left: 12vw;
  padding-top: 3vw;
}
.prod-view img {
  padding-top: 10px;
  /* align-items: center; */
  /* display: block; */
  width: 400px; 
  height: 300px; 
  overflow: hidden;

}

.prod-view p{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}


.cover{
  top: 0;
  position: relative;
  padding-bottom: 100px;
}
.cover img{
      max-width: 100%;
      max-height: auto;
      font-size: 0;


}
.cover img:hover{
  opacity: 0.8;
}


.cover p{
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 1vw;
  background-color: black;
  border: 2px solid snow;
  padding: 14px 16px;
  z-index: 998;
  position: absolute;
  bottom: 170px;
  left: 30px;
  color: snow;

}

/* Styling for form */
.order_form{
  position: absolute;
  width: 75%;
  text-align: left;
  background-color: #a09fe6;
}

/* Styling for form contd. */
legend{
  text-align: center;
  font-size: 1.5em;
  padding: 1em;
}

/* Styling for form contd. */
input[type=submit]{
  background-color: #4CAF50;
  border: none;
  color: white;
  cursor: pointer;
  width: 75%;
  text-align: center;
  padding: 10px 10px;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

footer{
  border-top: solid;
  font-family: Arial, Helvetica, sans-serif;

}
footer p{
  text-align: right;
  text-transform: uppercase;
  font-size: 0.8vw;
  padding-right: 20px;
}

form{
  float: right;
  width: 33%;
  padding-right: 10vw;
}
/* graveyard code */

/* body{
  background-color: lightblue;
}

img {
  height: 50px;
  width: 60px;
  padding: 5px 5px;
}

.grid-container {
  display: grid;
 padding: 0 75px;
  width: 10%;
  grid-template-columns: auto auto auto auto auto;
}
.grid-item {
  width: 100px;
  height: 200px;
  padding: 2.5px;
}
.grid-item-text {
  font-size: 9px;
  text-align: center;
}
.img-boba {
  height: 50px;
  width: 60px;
  padding: 5px 5px;

} */
