
/* ids */
#menu {
  background-color: red;
  padding: 7% 15%;
}

#about-us {
  background-color: blue;
  padding: 7% 15%;
}

#contact-us {
  background-color: yellow;
  padding: 7% 15%;
}

#footer {
  background-color: green;
  padding: 3% 15%;
}


/* classes */
.navbar {
  display: inline;
  padding: 0 9%;
}
.navbar-container {
  margin-bottom: 2%;
  margin: 0;
}

.grid-item {

  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.boba-header {
  text-align: center;
  margin-top: 7%;
}
.menu td{
  width: 20%;
  height: 2em;
  border: 1px solid #ccc;
  text-align: center;
}
.menu img{
  width: 15vw;
  height: 12vw;
}
.menu a{
  color: black;
  text-decoration: none;

}
.menu a:hover{
  color: purple;
  text-decoration: none;

}
